<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CalendMe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Comparison<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Analyze</a></li>
            <li><a href="#">Report</a></li>
          </ul>
        
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">LogOut</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>  
    <div class="content"> 
        <div class="row"> 
            <div class="col-xs-3 nav navbar-nav">
                <li>
                    <span class="list_elem">Date Range</span>
                </li>
                <li>
                    <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" class="form-control"/> 
                </li>
            </div>
            <div class="col-xs-3 nav navbar-nav">
                <li>
                    <span class="list_elem">Category</span>
                </li>
                <li>
                     <select class="selectpicker" multiple data-selected-text-format="count > 3" id="categorySelect">
                        <% for(let i=0; i< categories.length; i++) { %>
                            <option><%= categories[i].name %></option>
                        <% } %> 
                    </select>
                </li>
            </div>
            <div class="col-xs-3 nav navbar-nav">
                <li>
                    <span class="list_elem">Colors</span>
                </li>
                <li>
                     <select class="selectpicker" multiple data-selected-text-format="count > 3" id="colorSelect">
                        <% for(let i=0; i< colors.length; i++) { %>
                            <option data-icon="glyphicon glyphicon glyphicon-stop <%= colors[i].name %>"><%= colors[i].name %></option>
                        <% } %> 
                    </select>
                </li>
            </div>
            <div class="col-xs-3 nav navbar-nav">
                <li>
                    <span class="list_elem"></span>
                </li>
                <li>
                  <form class="navbar-form navbar-left m-t-0">
                      <div class="form-group pull-right">
                          <input type="text" class="form-control" placeholder="Search">
                          <button type="submit" class="btn btn-default">Search</button>
                      </div>
                  </form>
                </li>
            </div>  
        </div>
        
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default m-t-8" style=" height:390px">
                  <div class="panel-heading">Statistics</div>
                  <div class="panel-body">
                    <canvas id="chartPie" width="603" height="301" class="chartjs-render-monitor" style="display: block; width: 603px; height: 301px;"></canvas>
                  </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default m-t-8" style="height:390px">
                  <div class="panel-heading">Statistics</div>
                  <div class="panel-body">
                    <canvas id="chartBar" width="603" height="401" class="chartjs-render-monitor" style="display: block; width: 603px; height: 301px;"></canvas>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default m-t-8" style="width:40%; height:390px">
              <div class="panel-heading">Statistics</div>
              <div class="panel-body">
                  <canvas id="stackChart" width="603" height="301" class="chartjs-render-monitor" style="display: block; width: 603px; height: 301px;"></canvas>
              </div>
            </div>
        </div>
        
        <canvas id="chartBar" width="1000" height="300" class="chartjs-render-monitor hidden-lg" style="display: block;width: 603px; height: 301px;"></canvas>
        
    </div> 
    
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- Date picker js-->  
    <script type="text/javascript">
        
        var selectedColors = [];
        var selectedCategories = [];
        var startDateFrom = new Date();
        var endDateTo = new Date();
        var searchString = '';       
        
        $('input[name="daterange"]').daterangepicker(
            {
                locale: {
                  format: 'YYYY-MM-DD'
                },
                startDate: '2013-01-01',
                endDate: '2013-12-31'
            }, 
            function(start, end, label) {
                alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        $('#categorySelect').on('changed.bs.select', function (e) {
            console.log(e);
        });
        $('#colorSelect').on('changed.bs.select', function (e) {
            console.log(e);
        });
        
        
        function updateEvents() {
            $.ajax({
              type: 'GET',
              url: '/events',
                data: { 
                    start: startDateFrom, 
                    end: endDateTo, 
                    categories: selectedCategories,
                    colors: selectedCategories,
                    search: searchString
                  }
              success: function(result) {
                var html;
                for (var i = 0; i< result.length; i++) {
                    html += '<h2>' + order[i].name + ' ' + order[i].drink + '</h2>';
                }
                $('#target').html(html);
              }
            });
        }
        
        
    </script>
    <!--- Pie chart js -->
    <script type="text/javascript">
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'pie',
             
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Red",
                    "Orange",
                    "Yellow",
                    "Green",
                    "Blue"
                ]
            },
            options: {
                responsive: false,
                width:500,
                height:300,
            }
        };
        
        //Grouped chart
        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                stack: 'Stack 0',
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Dataset 2',
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                stack: 'Stack 0',
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Dataset 3',
                backgroundColor: 'rgba(13, 102, 255, 0.2)',
                stack: 'Stack 1',
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }], options: {
                responsive: false,
                width:500,
                height:300,
            }

        };
        
        //Bar chart
        function randomNumber(min, max) {
			return Math.random() * (max - min) + min;
		}

		function randomBar(date, lastClose) {
			var open = randomNumber(lastClose * .95, lastClose * 1.05);
			var close = randomNumber(open * .95, open * 1.05);
			var high = randomNumber(Math.max(open, close), Math.max(open, close) * 1.1);
			var low = randomNumber(Math.min(open, close) * .9, Math.min(open, close));
			return {
				t: date.valueOf(),
				y: close
			};
		}

		var dateFormat = 'MMMM DD YYYY';
		var date = moment('April 01 2017', dateFormat);
		var data = [randomBar(date, 30)];
		var labels = [date];
		while (data.length < 60) {
			date = date.clone().add(1, 'd');
			if (date.isoWeekday() <= 5) {
				data.push(randomBar(date, data[data.length - 1].y));
				labels.push(date);
			}
		}

        window.onload = function() {
            var ctxPie = document.getElementById("chartPie").getContext("2d");
            window.myPie = new Chart(ctxPie, config);
            
            var ctxGroup = document.getElementById("stackChart").getContext("2d");
            window.myGroup = new Chart(ctxGroup, {
                type: 'bar',
                data: barChartData,
                options: {
                    title:{
                        display:true,
                        text:"Chart.js Bar Chart - Stacked"
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
            
            var ctxBar = document.getElementById("chartBar").getContext("2d");
            ctxBar.canvas.width = 900;
            ctxBar.canvas.height = 500;
            var cfgs = {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "CHRT - Chart.js Corporation",
                        data: data,
                        type: 'bar',
                        pointRadius: 1,
                        fill: false,
                        lineTension: 1,
                        borderWidth: 2,

                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'series',
                            ticks: {
                                source: 'labels',
                                fontSize: 7
                            },
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Closing price ($)'
                            }
                        }]
                    }
                }
            };
            
            window.myBar = new Chart(ctxBar, cfgs);
            window.myBar.update();
        };
    </script>
  </body>
</html>
