<!doctype html>
<html>
<head>
    <title>Default events</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CalendMe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/update_info">Update calendar events</a></li>
            <li><a href="/generate_report">Generate Report</a></li>
            <li><a href="/info">Info & Rules</a></li>
          </ul>
        
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">LogOut</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>  
<div class="container">
    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-9">
            <div class="well">
                <h4 class="text-danger"><span class="fa fa-google-plus">In order to use this system you must have notated each event in a specific manner. <br/> The rule is [Type] name - Example" [WOV] Goind to work</span> </h4>

                    <h3>Events type:</h3>

                    <ul>
                        <li>Name: Work - Tags: [WOV, WV]</li>
                        <li>Name: Health - Tags: [HEV, HV]</li>
                        <li>Name: Discipline - Tags: [DIV, DV]</li>
                        <li>Name: Food - Tags: [FOV,FV]</li>
                        <li>Name: Procastination - Tags: [PROC, Proc]</li>
                        <li>Name: Sleep - Tags: [SLV, SV]</li>
                        <li>Name: Beauty - Tags: [BEV, BV]</li>
                        <li>Name: Event - Tags: [EVV, EV]</li>
                        <li>Name: Programming - Tags: [PRV, PV]</li>
                        <li>Name: Resources - Tags: [REV, RV]</li>
                        <li>Name: Information - Tags: [INV, IV]</li>
                        <li>Name: Sport - Tags: [SPV, SV]</li>
                        <li>Name: OMG - Tags: [OMG]</li>
                        <li>Name: Socialization - Tags: [SOC]</li>
                        <li>Name: Road - Tags: [ROV]</li>
                    </ul>>

            </div>
        </div>

    </div>

</div>
</body>
</html>